@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lexend+Deca&display=swap');

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: hsl(233, 47%, 7%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

img {
    mix-blend-mode: color-dodge;
    background: hsl(277, 98%, 21%);
}

.whole {
    width: 1080px;
    height: 446px;    
    display: flex;
    flex-direction: row;
    background-color: hsl(244, 38%, 16%);
    color: white;
}

.left{
    margin: 4em 7em 6em 5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.header {
    font-size: 32px;
    flex-wrap: nowrap;
    margin-bottom: 16px;
    font-family: "Lexend Deca";
    font-weight: 900;
}

.purple {
    display: inline;
    color: hsl(277, 64%, 61%);
}

.text {
    font-family: "Inter";
    margin-bottom: 64px;
    color: hsla(0, 0%, 100%, 0.75);
}

.attribution {
    color: white;
}

.wholenum{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.single{
    display: flex;
    flex-direction: column;
}

.number {
    font-size: 1.5em;
    font-weight: 900;
    gap: 1em;
    margin-bottom: 6px;
    font-family: "Lexend Deca";
}

.item {
    color: hsla(0, 0%, 100%, 0.75);
    gap: 1em;
    font-family: "Inter";
}
